<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/home">HADY</a>
    <ul class="nav justify-content-end d-flex gap-3">
      <li class="nav-item">
        <a class="btn btn-danger" href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
      <% if (user) { %>
      <h5 class="card-title">Welcome <%= user.fullName %></h5>
      <p>Your email is: <%= user.email %></p>
      <% } %>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
</div>
